<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="commonHeader">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet"
	th:href="@{/static/bootstrap3.0/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
	
<script type="text/javascript"
	th:src="@{/static/bootstrap3.0/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript"
	th:src="@{/static/js/jquery.form.js}"></script>
<script type="text/javascript"
	th:src="@{/static/js/jquery.tips.js}"></script>
<script type="text/javascript"
	th:src="@{/static/js/jQuery.print.js}"></script>
<script type="text/javascript"
	th:src="@{/static/js/excellentexport.min.js}"></script>
<script type="text/javascript" 
	th:src="@{/static/layer/layer.js}"></script>
</head>
</html>